<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>US emoji</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="apple-itunes-app" content="app-id=477927812"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">


    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/layouts/marketing.css">
    <link rel="shortcut icon" href="../static/logo.ico" type="image/x-icon">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<form action="www.baidu.com" method="post">
    <input style="bottom: auto" type="file" multiple="multiple">
    <input type="submit">
</form>


<!--<div class="header">-->
<!--    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">-->
<!--        <a class="pure-menu-heading" href="">US emoji</a>-->

<!--        <ul class="pure-menu-list">-->
<!--            <li class="pure-menu-item"><a href="" class="pure-menu-link">Home</a></li>-->
<!--            <li class="pure-menu-item"><a href="#" class="pure-menu-link" id="tour1">Tour</a></li>-->
<!--            <li class="pure-menu-item"><a class="pure-menu-link" id="longin_di">Sign Up</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->

<div id="blue-con" class="splash-container" style="background-image: url(https://cdn2.thecatapi.com/images/b20.jpg)">
    <div class="splash">
        <h1 class="splash-head">谁是家园的表情帝</h1>
        <p class="splash-subhead">
            we create a beautiful world, a beautiful home.
        </p>
        <p>
            <a id="longin_dibu" class="pure-button pure-button-primary">上传表情包</a><!-- href="http://purecss.io"  -->
        </p>
    </div>
</div>

<div class="content-wrapper">
<!--    <div id="act-list" class="content">-->
<!--        <h2 class="content-head is-center">不知道上传什么 ?</h2>-->

<!--        <div class="pure-g">-->
<!--            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">-->

<!--                <h3 class="content-subhead">-->
<!--                    <i class="fa fa-rocket"> </i>-->
<!--                    那好 我举几个🌰-->
<!--                </h3>-->
<!--                <p>-->
<!--                    周年庆 尬歌 & 尬舞 & 尬人-->

<!--                </p>-->
<!--            </div>-->

<!--            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">-->
<!--                <h3 class="content-subhead">-->
<!--                    <i class="fa fa-th-large"></i>-->
<!--                    标本馆志愿活动-->
<!--                </h3>-->
<!--                <p>-->
<!--                    志愿服务时：2h<br>-->
<!--                    主要任务是标本装袋和亲自制作标本-->

<!--                </p>-->
<!--            </div>-->
<!--            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">-->
<!--                <h3 class="content-subhead">-->
<!--                    <i class="fa fa-check-square-o"></i>-->
<!--                    爱心家教志愿活动-->
<!--                </h3>-->
<!--                <p>-->
<!--                    志愿服务时：3h<br>-->
<!--                    可以辅导小朋友做作业，还能和小朋友一起玩哦-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


    <div class="content">
        <h2 class="content-head is-center">上传你拍（制作）的表情包</h2>
        <h3 class="content-subhead is-center" id="actname">（或者是你收藏其他人做的表情包） </h3>
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked" action="/acset" multiple="multiple"
                      onsubmit="return validateForm()" name="myForm">
                    <fieldset>

                        <label>Your Image</label>
                        <input id="name1" type="file" name="username" placeholder="上传图片">

                        <label>His/Her Name</label>
                        <input id="ph1" type="tel" name="password" placeholder="Ta 的名字">

                        <button type="submit" id="queren" class="pure-button">确认上传</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>More Information</h4>
                <p>
                    这是我们肝了一个小时的产品 为了后续的US彩蛋 望支持 如果你对前端展示非常不满 请打傅诚 这个跑路的家伙！
                </p>

                <h4 id="queren1">Contact Us</h4>
                <p>
                    如果你有任何问题，可以添加这个工作人员QQ：

                    <a class="" href="http://wpa.qq.com/msgrd?v=3&uin=1097977702&Site=&Menu-=yes">
                        1097977702
                    </a>
                    ，会秒回你的消息 别问是咋做到的2333~
                </p>
            </div>
        </div>

    </div>

    <div class="footer l-box is-center">
        To develop more love
    </div>

</div>
<script type="text/javascript" src="../static/photo.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#longin_dibu").click(function scrollToEnd() {//滚动到底部
            // var h = $(document).height()-$(window).height();
            // $(document).scrollTop(h);
            $('html, body').animate({scrollTop: $(document).height() - 750}, 1400);
        });


        // $("#longin_di").click(function scrollToEnd() {//滚动到底部
        //     //$("#blue-con").slideToggle("slow");
        //     $('html, body').animate({scrollTop: $(document).height() - 750}, 1400);
        //     // $("#blue-con").css('display','none');
        //     // $("#act-list").slideUp(1000);
        //     // $("#act-one").slideUp(1000);
        // });
        //
        // $("#tour1").click(function scrollToEnd() {//滚动到底部
        //     $('html, body').animate({scrollTop: $(document).height() / 4 + 10}, 1200);
        // });

    });


</script>



</body>
</html>