<!doctype html>
<html lang="Zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>食品学院自强社</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="../../../../../Downloads/food-volunteering-master%202/static/css/layouts/marketing.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script>var _hmt = _hmt || [];(function() {var hm = document.createElement("script");hm.src = "https://hm.baidu.com/hm.js?368897b2e1156201d1af226d6309d364";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s);})();</script>
    <meta http-equiv="refresh" content="6.5;url=http://139.199.169.159/acset">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128629520-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-128629520-2');
    </script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2559434605565280",
        enable_page_level_ads: true
      });
    </script>

</head>
<body>

<script>
function validateForm() {
    var x = document.forms["myForm"]["username"].value;
    var y = document.forms["myForm"]["password"].value;
    if (x == null || x == "") {
        alert("需要输入姓名哟");
        return false;
    }
    if (y == null || y == "") {
        alert("需要输入联系电话哟");
        return false;
    }
}

</script>







<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Shoujibiao</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link" id="tour1">Tour</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" id="longin_di">Sign Up</a></li>
        </ul>
    </div>
</div>

<div id="blue-con" class="splash-container">
    <div id="tes" class="splash">
        <h1 id="waiting" class="splash-head display-none">Waiting...</h1>
        <p class="splash-subhead">   
        </p>

    </div>
</div>

<div id="blue-con1" class="container-green">
    <div class="splash">
        <h1 class="splash-head">报名成功！请准时参加活动~</h1>
        <p class="splash-subhead">
            我们乐于奉献，我们勇于发光，we create a beautiful world.
        </p>
        <p>
            <a id="longin_dibu" class="pure-button pure-button-primary">GOOD LUCK!</a><!-- href="http://purecss.io"  -->
        </p>
    </div>
</div>
<div class="container-blue">
    <div class="splash">

    </div>
</div>

    <div class="footer l-box is-center">
        To develop more love
    </div>

</div>

<script>
  $(document).ready(function(){

     setTimeout(function(){$("#waiting").fadeIn(1000);},50);
     setTimeout(function(){$("#blue-con").slideUp(1500);},700);
     setTimeout(function(){$("#blue-con1").slideUp(3000);},5500);
     
     //setTimeout(window.location.href='http://food.shoujibiao.tk/acset',50000);
});
//document.getElementById("actname").innerHTML="段落已修改。";
//window.opener.document.location.reload();
</script>


</body>
</html>
